.ant-select-dropdown .ant-select-item.ant-select-item-option {
  font-family: 'SF UI Display Light', sans-serif;
  white-space: nowrap;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  padding-top: .5rem;
}

.ant-select-dropdown .ant-select-item.ant-select-item-option:hover {
  background-color: #E9EDF7;
}

.ant-select-dropdown .ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  background-color: #ffffff;
}

.ant-select-dropdown .ant-select-item.ant-select-item-option.ant-select-item-option-selected:hover {
  background-color: #E9EDF7;
}

@keyframes closeslider450 {
  from { bottom: -10px; }
  to { bottom: -450px; }
}

.animate-close-slider.close-animation {
  animation: closeslider450 300ms ease-out 0s 1 normal;
}


.grid-col-central-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

.layout-main {
  background: #fff !important;
  height: 100% !important;
  overflow-x: hidden;
}

.layout-sider {
  background: #F5F7FA;
  min-width: 80px !important;
  max-width: 80px !important;
  border-right: 1px solid #d3dff0 !important;
}

.layout-breadcrumb {
  font-size: 11px;
  margin: 0 0 30px 0;
}

.layout-breadcrumb a, .layout-breadcrumb span {
  color: #8AA1C1 !important;
}
