.ant-select-dropdown .ant-select-item.ant-select-item-option {
  font-family: 'SF UI Display Light', sans-serif;
  white-space: nowrap;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  padding-top: .5rem;
}

.ant-select-dropdown .ant-select-item.ant-select-item-option:hover {
  background-color: #E9EDF7;
}

.ant-select-dropdown .ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  background-color: #ffffff;
}

.ant-select-dropdown .ant-select-item.ant-select-item-option.ant-select-item-option-selected:hover {
  background-color: #E9EDF7;
}

.ant-message-custom-content {
  display: flex;
  flex-flow: nowrap;
}

.ant-message-custom-content span {
  display: flex;
}


.slider-user-op { height: 300px; animation: k-slider-op-300 220ms ease-out 0s 1 normal; bottom: -10px; }
.slider-user-cl { height: 300px; animation: k-slider-cl-300 220ms ease-in  0s 1 normal; bottom: -330px; }
.slider-loca-op { height: 200px; animation: k-slider-op-200 200ms ease-out 0s 1 normal; bottom: -10px; }
.slider-loca-cl { height: 200px; animation: k-slider-cl-200 200ms ease-in  0s 1 normal; bottom: -230px; }

@media (max-width: 991px) {
  .slider-user-op { height: 450px; animation: k-slider-op-450 230ms ease-out 0s 1 normal; bottom: -10px; }
  .slider-user-cl { height: 450px; animation: k-slider-cl-450 230ms ease-in  0s 1 normal; bottom: -480px; }
}

@keyframes k-slider-op-450 { from { bottom: -450px; } to { bottom: -10px;  } }
@keyframes k-slider-cl-450 { from { bottom: -10px;  } to { bottom: -480px; } }
@keyframes k-slider-op-300 { from { bottom: -300px; } to { bottom: -10px;  } }
@keyframes k-slider-cl-300 { from { bottom: -10px;  } to { bottom: -330px; } }
@keyframes k-slider-op-200 { from { bottom: -200px; } to { bottom: -10px;  } }
@keyframes k-slider-cl-200 { from { bottom: -10px;  } to { bottom: -230px; } }


.grid-col-central-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

.layout-main {
  background: #fff !important;
  height: 100% !important;
  overflow-x: hidden;
}

.layout-sider {
  background: #F5F7FA;
  min-width: 80px !important;
  max-width: 80px !important;
  border-right: 1px solid #d3dff0 !important;
}

.layout-breadcrumb {
  font-size: 11px;
  margin: 0 0 30px 0;
}

.layout-breadcrumb a, .layout-breadcrumb span {
  color: #8AA1C1 !important;
}



